<%= form_for(@scoring_scheme) do |f| %>
  <% if @scoring_scheme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scoring_scheme.errors.count, "error") %> prohibited this scoring_scheme from being saved:</h2>

      <ul>
        <% @scoring_scheme.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
