<tr bgcolor="<%= de.entrant.default_team_for_season(@season).color %>">
  <td><%= place + 1 %></td>
  <td><%= de.entrant.name %></td>
  <td><%= de.entrant.default_team_for_season(@season).name %></td>
  <td><%= de.points %></td>
</tr>
