<h2>Driver Names and Team Affiliations</h2>
<table id="team_table">
  <tr>
    <th>Player</th>
    <th>Driver</th>
    <th>Team</th>
  </tr>
  <% teamlist.season_entries.joins(:defaultteam).select("*, teams.name").order("teams.name").each do |entry| %>
    <tr bgcolor="<%= entry.defaultteam.color %>">
      <td><%= link_to entry.driver.player.name, player_path(entry.driver.player) %></td>
      <td><%= link_to entry.driver.name, driver_path(entry.driver) %></td>
      <% if entry.defaultteam.fake? %>
        <td><%= entry.defaultteam.name %></td>
      <% else %>
        <td><%= link_to entry.defaultteam.name, team_path(entry.defaultteam) %></td>
      <% end %>
    </tr>
  <% end %>
</table>