<h1>Listing seasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= season.name %></td>
    <td><%= link_to 'Results', results_season_path(season) %>
    <% if admin? %>
      <td><%= link_to 'Manage', season %></td>
      <td><%= link_to 'Edit', edit_season_path(season) %></td>
      <td><%= link_to 'Destroy', season, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a season', new_season_path %>
