<h1>Bayou Grand Prix <%= @season.name %> Results</h1>
<p id="notice"><%= notice %></p>

<%= render(:partial => "teamlist", :object => @season) %>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
