<h1>Bayou Grand Prix <%= @season.name %> Results</h1>
<p id="notice"><%= notice %></p>

<%= render(:partial => "teamlist", :object => @season) %>

<h2>Race Winners</h2>
<table id="results_grid">
  <tr>
    <th>Date</th>
    <th>Track</th>
    <th>Country</th>
    <% for i in 1..10 do %>
      <th><%= ordinal(i) %></th>
    <% end %>
  </tr>
  <% @season.races.order("date").each do |race| %>
    <tr>
      <td><%= race.date %></td>
      <td><%= race.track.name %></td>
      <td><%= race.track.country %></td>
      <% race.race_entries.order("finish").each do |entry| %>
        <td bgcolor="<%= entry.team.color %>">
          <%= entry.driver.name %> 
          <% if entry.dnf %>
            <%= "(DNF)" %> 
          <% end %></td>
      <% end %>
    </tr>
  <% end %>
  
</table>

<h2>Points Standings</h2>

<h3>Driver's Championship</h3>
<table id="driver_points_standings">
  <tr>
    <th>Place</th>
    <th>Driver</th>
    <th>Team</th>
    <th>Points</th>
  </tr>
  <%  @drivers_by_points.each_with_index do |de, place| %>
    <%= render :partial => "driver_result_points", :locals => { :de => de, :place => place } %>
  <% end %>
</table>

<h3>Constructor's Championship</h3>
<table id="team_points_standings">
  <tr>
    <th>Place</th>
    <th>Team</th>
    <th>Points</th>
  </tr>
  <% @teams_by_points.each_with_index do |team_entry, place| %>
    <tr bgcolor="<%= team_entry.entrant.color %>">
      <td><%= place + 1 %></td>
      <td><%= team_entry.entrant.name %></td>
      <td><%= team_entry.points %></td>
    </tr>
  <% end %>    
</table>

<h3>Qualifying by Points</h3>
<table id="qualifying_by_points">
  <tr>
    <th>Place</th>
    <th>Driver</th>
    <th>Team</th>
    <th>Points</th>
  </tr>
  <%  @drivers_by_qualifying_points.each_with_index do |de, place| %>
    <%= render :partial => "driver_result_points", :locals => { :de => de, :place => place } %>
  <% end %>
</table>

