<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @season.name %>
</p>
<p>
  <b>Scoring Scheme:</b>
  <%= @season.scoring_scheme.name %>
</p>

<% if admin? %>
  <%= link_to 'Edit', edit_season_path(@season) %>
<% end %>

<h2>Driver Names and Team Affiliations</h2>
<table id="team_table">
  <tr>
    <th>Player</th>
    <th>Driver</th>
    <th>Team</th>
    <% if admin? %>
      <th />
    <% end %>
  </tr>
  <% @season.season_entries.joins(:defaultteam).order("teams.name").each do |entry| %>
    <tr bgcolor="<%= entry.defaultteam.color %>">
      <td><%= entry.driver.player.name %></td>
      <td><%= entry.driver.name %></td>
      <td><%= entry.defaultteam.name %></td>
      <% if admin? %>
        <td>
          <%= link_to 'Remove', season_season_entry_path(@season, entry.id), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table><br />

<% if admin? %>
  <%= form_tag(season_season_entries_path(@season)) do %>
    <%= hidden_field_tag(:season_id, @season.id) %>
    <%= collection_select :season_entry, :driver_id, @drivers, :id, :name %>  
    <%= collection_select :season_entry, :defaultteam_id, Team.order(:name), :id, :name %>
    <%= submit_tag("Add Driver")%>
  <% end %>
<% end %>

<h2>Races</h2>
<table id="races">
  <tr>
    <th>Date</th>
    <th>Track</th>
    <th>Country</th>
    <th></th>
  </tr>
  <% @races.order("date").each do |race| %>
    <tr>
      <td><%= race.date %></td>
      <td><%= race.track.name %></td>
      <td><%= race.track.country %></td>
      <td><%= link_to "Show", [@season, race] %>
    </tr>
  <% end %>

</table>

<% if admin? %>
  <%= form_tag(season_races_path(@season)) do %>
    <%= date_select :race, :date, :default => Date.today %>
    <%= collection_select :race, :track_id, Track.order(:name), :id, :name %>
    <%= submit_tag("Add Race")%>
  <% end %>
<% end %>

<%= link_to 'Back to Seasons', seasons_path %>
