<h1>BFD Database Admin</h1>
<p><%= link_to "Edit seasons", seasons_path %></p>
<p><%= link_to "Edit players", players_path %></p>
<p><%= link_to "Edit drivers", drivers_path %></p>
<p><%= link_to "Edit teams", teams_path %></p>
<h2>Seasons:</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= season.name %></td>
  </tr>
<% end %>
</table>
