<h1>Season <%= @season.name %>, Race <%= @season.races.order(:date).index(@race) +1 %>: <%= @race.track.name %></h1>
<p>Date: <%= @race.date %></p>

<h3>Entrants and Results</h3>
<table id="races_race_entries">
  <tr>
    <th>Driver</th>
    <th>Team</th>
    <th>Finished</th>
    <th>Dnf?</th>
    <th>Qualified</th>
    <th>Dnq?</th>
  </tr>
  <% @race.race_entries.order(:finish).each do |re| %>
    <tr style="background-color: <%= re.team.color %>;">
      <td><%= link_to re.driver.name, driver_path(re.driver) %></td>
      <td><%= link_to re.team.name, team_path(re.team) %></td>
      <td><%= re.finish %></td>
      <td><%= re.dnf %></td>
      <td><%= re.qualify %></td>
      <td><%= re.dnq %></td>
    </tr>
  <% end %>
</table>
<% if @race.writeup? %>
  <h3>Writeup</h3>
  <%= @race.writeup %>
<% end %>
<% if admin? %>
<%= link_to 'Edit Race', edit_season_race_path(@season, @race) %>
<% end %>
<br />
<%= link_to 'Season', season_path(@season) %>
