<h1>Season <%= @season.name %>, Race <%= @season.races.order(:date).index(@race) +1 %>: <%= @race.track.name %></h1>
<p>Date: <%= @race.date %></p>

<h3>Entrants</h3>
<table id="races_race_entries">
  <tr>
    <th>Driver</th>
    <th>Team</th>
  </tr>
  <% @race.race_entries.order(:team_id).each do |re| %>
  <tr style="background-color: <%= re.team.color %>;">
    <td><%= re.driver.name %></td>
    <td><%= re.team.name %></td>
  </tr>
  <% end %>
</table>

<% if admin? %>
<h3>Add Drivers</h3>
  <% @season.season_entries.each do |se| %>
    <% unless @race.race_entries.exists?(:season_entry_id => se.id) %>
        <%= form_tag(season_race_race_entries_path(@season, @race), :method => "post") do %>
          <%= se.driver.name %>
          <% if se.defaultteam.fake? %>
            <%= select_tag "team_id", options_from_collection_for_select(Team.where(fake: false).order("name ASC"), "id", "name") %>
          <% else %>
            <%= se.defaultteam.name %>
            <%= hidden_field_tag(:team_id, se.defaultteam.id) %>
          <% end %>
          <%= hidden_field_tag(:season_entry_id, se.id) %>
          <%= hidden_field_tag(:race_id, @race.id) %>
          <%= submit_tag("Add") %>
        <% end %>  
    <% end %>    
  <% end %>
<% end %>
<br />
<%= link_to 'Season', season_path(@season) %>
