<p id="notice"><%= notice %></p>

<p>Date: <%= @race.date %></p>
<p>Track: <%= @race.track.name %></p>

<h3>Entrants</h3>
<table id="races_race_entries">
  <tr>
    <th>Driver</th>
    <th>Team</th>
  </tr>
  <% @race.race_entries.each do |re| %>
  <tr bgcolor="<%= re.team.color %>">
    <td><%= re.driver.name %></td>
    <td><%= re.team.name %></td>
  </tr>
  <% end %>
</table>

<h3>Add Drivers</h3>
<table id="race_add_drivers">
  <tr>
    <th>Driver</th>
    <th>Team</th>
  </tr>
  <% @season.season_entries.each do |se| %>
    <% unless @race.race_entries.exists?(:season_entry_id => se.id) %>
      <tr>
        <%= form_tag(season_race_race_entries_path(@season, @race), :method => "post") do %>
          <td><%= se.driver.name %></td>
          <td><%= se.defaultteam.name %>
              <%= hidden_field_tag(:team_id, se.defaultteam.id) %>
              </td>
          <td>
            <%= hidden_field_tag(:season_entry_id, se.id) %>
            <%= hidden_field_tag(:race_id, @race.id) %>
            <%= submit_tag("Add") %>
          </td>
        <% end %>  
      </tr>
    <% end %>    
  <% end %>
</table>
<br />
<%= link_to 'Season', season_path(@season) %>
