<h1>Bayou Grand Prix Racing League</h1>
<table id="results_by_season">
  <tr>
    <th>Results by Season</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= link_to season.name, results_season_path(season) %></td>
  </tr>
<% end %>
</table>

<% if admin? %>
  <%= link_to "Edit Seasons", seasons_path %>
<% end %>

<%= link_to "Drivers", drivers_path %>
<%= link_to "Players", players_path %>
<%= link_to "Teams", teams_path %>
