<%= form_for([@driver_entry.season, @driver_entry]) do |f| %>
  <% if @driver_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver_entry.errors.count, "error") %> prohibited this driver_entry from being saved:</h2>

      <ul>
        <% @driver_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= @driver_entry.driver.name %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
      <%= collection_select :driver_entry, :defaultteam_id, Team.order(:name), :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
