<%= form_for(@season_entry, 
             :url => season_season_entries_path(@season)) do |f| %>
  <% if @season_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season_entry.errors.count, "error") %> prohibited this season_entry from being saved:</h2>

      <ul>
      <% @season_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver %><br />
    <%= collection_select(:season_entry, :driver_id, 
                          Driver.all, :id, :name) %>  
  </div>
  <div class="field">
    <%= f.label :defaultteam %><br />
    <%= collection_select(:season_entry, :defaultteam_id, 
                          Team.all, :id, :name) %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
