<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <% if admin? %>
      <th>Email</th>
      <th></th>
      <th></th>
    <% end %>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <% if admin? %>
      <td><%= player.email %></td>
    <% end %>
    <td><%= link_to 'Show', player %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player, :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if admin? %>
  <%= link_to 'New Player', new_player_path %>
<% end %>
