<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<% if admin? %>
<p>
  <b>Email:</b>
  <%= @player.email %>
</p>
<% end %>

<% if admin? %>
 <%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
