<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @driver.name %>
</p>

<p>
  <b>Player:</b>
  <%= link_to @driver.player.name, player_path(@driver.player) %>
</p>


<% if admin? %>
  <%= link_to 'Edit', edit_driver_path(@driver) %> |
<% end %>
<%= link_to 'Back', drivers_path %>
